@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: var(--container-width);
  }
}

@media (min-width: 1200px) {
  .tm-boxed-layout .page-wrapper {
    width: 1170px;
  }
  .tm-boxed-layout .container {
    width: 1140px;
  }
}
@media (min-width: 1000px) {
  .tm-boxed-layout.tm-container-970px .page-wrapper {
    width: 970px;
  }
}
@media (min-width: 1300px) {
  .tm-boxed-layout.tm-container-1230px .page-wrapper {
    width: 1230px;
  }
}
@media (min-width: 1400px) {
  .tm-boxed-layout.tm-container-1300px .page-wrapper {
    width: 1300px;
  }
}
@media (min-width: 1400px) {
  .tm-boxed-layout.tm-container-1340px .page-wrapper {
    width: 1340px;
  }
}
@media (min-width: 1400px) {
  .tm-boxed-layout.tm-container-1440px .page-wrapper {
    width: 1440px;
  }
}
@media (min-width: 1560px) {
  .tm-boxed-layout.tm-container-1500px .page-wrapper {
    width: 1500px;
  }
}
@media (min-width: 1660px) {
  .tm-boxed-layout.tm-container-1600px .page-wrapper {
    width: 1600px;
  }
}
@media (max-width: 1200px) {
  .tm-boxed-layout {
    padding-top: 15px;
  }
  .tm-boxed-layout .header .navbar-default .navbar-nav > li > a {
    padding: 10px;
  }
  .tm-boxed-layout .header .navbar-default .navbar-collapse {
    margin-right: 15px;
  }
  .tm-boxed-layout .navbar-header {
    padding: 15px 0;
  }
  .tm-boxed-layout .navbar-collapse .navbar-nav li a .caret {
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .list-style-one li:hover {
    -webkit-transform: none;
    transform: none;
  }
}
@media only screen and (max-width: 424px) {
  .list-style-two.two-column li {
    width: 100%;
    padding-right: 0;
  }
}
/* @media only screen and (min-width: 900px) and (max-width: 1023px) {
  .circle {
    display: none !important;
  }
} */
@media only screen and (max-width: 1023px) {
  .circle-follow {
    display: none !important;
  }
}
@media only screen and (max-width: 1023px) {
  .main-header .main-box .logo img {
    height: 55px;
    width: 60px;
    margin-top: -10px;
  }
}
@media only screen and (max-width: 1023px) {
  .main-header .logo {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 1023px) {
  .main-menu {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .main-header .outer-box {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 1199px) {
  .header-style-one .main-box .main-menu .navigation > li {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1699px) {
  .header-style-one .outer-box:before {
    display: none;
  }
}
@media only screen and (max-width: 1699px) {
  .header-style-one .outer-box .toggle-hidden-bar {
    position: relative;
    right: 0;
    margin-top: 0;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .header-style-one .outer-box .toggle-hidden-bar {
    display: none;
  }
}
@media only screen and (max-width: 1699px) {
  .header-style-two .outer-box .toggle-hidden-bar {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .header-style-two .outer-box .toggle-hidden-bar {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .header-style-two .main-box .main-menu .navigation > li {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .header-style-three .main-box .logo {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 1199px) {
  .header-style-three .main-box .main-menu .navigation > li {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .header-style-four {
    background-color: #ffffff;
  }
}
@media only screen and (max-width: 1023px) {
  .header-style-four .header-top {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .header-style-four .main-box .main-menu .navigation > li {
    margin: 0 25px;
  }
}
@media only screen and (max-width: 1023px) {
  .header-style-four .outer-box .toggle-hidden-bar {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .header-style-five .main-box .main-menu .navigation > li {
    margin: 0 25px;
  }
}
@media only screen and (max-width: 1023px) {
  .header-style-five .outer-box .hidden-bar-btn-outer {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .header-style-five .contact-info {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .mobile-nav-toggler {
    display: block;
  }
}
@media only screen and (max-width: 1023px) {
  .sec-title h2 .selected {
    display: inline-block;
  }
}
@media only screen and (max-width: 1023px) {
  .sec-title h2 {
    font-size: 42px;
  }
  .sec-title h2 br {
    display: none;
  }
  .sec-title h2 .selected {
    padding-left: 0;
  }
  .sec-title h2 .selected:before {
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  .sec-title .text br {
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  .sec-title .btn-box {
    padding-left: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .sec-title-two h2 br {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .sec-title-three .sub-title {
    padding-left: 0;
  }
  .sec-title-three .sub-title::before {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sec-title-three h2 {
    font-size: 42px;
    line-height: 1.2em;
  }
}
@media only screen and (max-width: 576px) {
  .sec-title-three h2 {
    font-size: 32px;
    line-height: 1.2em;
  }
}
@media only screen and (max-width: 1199px) {
    .sec-title-four h2 {
      font-size: 54px;
    }
  }
  @media only screen and (max-width: 576px) {
    .sec-title-four h2 {
      font-size: 42px;
    }
    .sec-title-four h2:before {
      height: 3px;
      top: 40px;
      width: 100px;
    }
    .sec-title-four h2 br {
      display: none;
    }
  }
  @media only screen and (max-width: 1023px) {
    .sec-title-five .sub-title {
      padding-right: 0;
      letter-spacing: 0.1em;
    }
    .sec-title-five .sub-title::before {
      display: none;
    }
  }
  @media only screen and (max-width: 1023px) {
    .sec-title-five h2 {
      font-size: 42px;
    }
  }
  @media only screen and (max-width: 767px) {
    .main-slider .tp-bgimg {
      background-image: none !important;
      background-color: #0e1e2a;
    }
  }
  @media only screen and (max-width: 1199px) {
    .main-slider h1 {
      font-size: 64px;
    }
  }
  @media only screen and (max-width: 1023px) {
    .main-slider h1 {
      font-size: 78px;
    }
  }
  @media only screen and (max-width: 767px) {
    .main-slider h1 {
      font-size: 62px;
    }
  }
  @media only screen and (max-width: 576px) {
    .main-slider h1 {
      font-size: 54px;
    }
  }
  @media only screen and (max-width: 424px) {
    .main-slider h1 {
      font-size: 42px;
    }
  }
  @media only screen and (max-width: 424px) {
    .main-slider .text {
      font-size: 16px;
      line-height: 24px;
    }
  }
  @media only screen and (max-width: 576px) {
    .main-slider .theme-btn {
      font-size: 14px;
      line-height: 20px;
      padding: 10px 20px;
      min-width: auto !important;
      margin-right: 10px;
    }
  }
  @media only screen and (max-width: 1023px) {
    .main-slider .main-image {
      display: none;
    }
  }
  